body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }

  .chat-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .chat-header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
  }

  .chat-messages {
    padding: 20px;
    overflow-y: auto;
    max-height: 400px;
  }

  .user-message,
  .bot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .user-message {
    background-color: #DCF8C6;
    align-self: flex-start;
  }

  .bot-message {
    background-color: #EAEAEA;
    align-self: flex-end;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
  }

  .input-box {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .send-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }

  .chat-button {

    color:#ffffff;
    position: fixed;
    bottom: 23px;
    right: 28px;
    height: 59px;
    width: 60px;
    border-radius: 32px;
    z-index: 100000000000000000000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    border: none;
    cursor: pointer;
    background-color: #007BFF;
    display: flex;
    font-size: 46px;
    /* padding-top: 1px; */
    padding-bottom: 5px;

    align-content: center;
    align-items: center;
    justify-content: center;

  }
  .chat-container{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
}
div#chatMessages{
    width: 313px;
}
.chat-messages::-webkit-scrollbar {
    display: none;
  }